PORT=3000
FRONTEND_DIST_PATH=

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=task
DB_CONNECTION_LIMIT=10

MQTT_URL=mqtt://10.97.241.240:1883
MQTT_CLIENT_ID=lot-sensor-pc
MQTT_USERNAME=
MQTT_PASSWORD=
